.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 6rem 15%;
  gap: 8rem;

  @media (max-width: 768px) {
    padding: 4rem 15%;
    gap: 6rem;
  }
}
