.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: calc(var(--font-size) * var(--theme-line-height-base)) 15%;
  gap: 6rem;

  @media (max-width: 768px) {
    padding: calc(var(--font-size) * var(--theme-line-height-base)) 15%;
    gap: 4rem;
  }
}
